<footer
  id="footer"
  role="contentinfo"
  class="pt-24 xl:pt-32 pb-24 md:pb-48 px-6"
>
  <hr />

  <div class="my-12 text-base text-medium">
    <em>Decent Patterns</em> is based on <em>Decentralization Off The Shelf</em>, a project started at <a href="https://simplysecure.org/">Simply Secure</a>. Decent Patterns is maintained by volunteers. All design patterns are licensed <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>. We follow <a href="https://berlincodeofconduct.org/">the Berlin Code of Conduct</a>.</div>

  <div class="flex flex-row flex-wrap">
    <a href="https://github.com/decentpatterns/library" class="btn btn-sm btn-secondary">Github</a>
    <a href="https://tinyletter.com/decentpatterns" class="btn btn-sm">Newsletter</a>
  </div>
</footer>
