<footer
  id="footer"
  role="contentinfo"
  class="pt-24 xl:pt-32 pb-24 md:pb-48 px-6"
>
  <hr />

<div class="my-12">

  <p class="text-base text-medium"><a href="/imprint">Imprint</a> | <a href="/privacy">Privacy policy</a> | <a href="/code-of-conduct">Code of Conduct</a></p>

  <p class="text-base text-medium">
    © CC-BY Decent Patterns contributors and Simply Secure.
  </p>

</div>

<div class="flex flex-row flex-wrap">
  <a href="https://github.com/decentpatterns/library" class="btn btn-sm btn-secondary">Github</a>
  <a href="https://buttondown.email/decentpatterns" class="btn btn-sm">Newsletter</a>
</div>
</footer>
