<footer
  id="footer"
  role="contentinfo"
  class="pt-24 xl:pt-32 pb-24 md:pb-48 px-6"
>
  <hr />

<div class="my-12">
  <p class="text-base text-medium">
    <em>Decent Patterns</em> is based on <em>Decentralization Off The Shelf</em>, a project started at <a href="https://simplysecure.org">Simply Secure</a>. Decent Patterns is maintained by volunteers.
    </p>

  <p class="text-base text-medium">Here’s our <a href="/privacy">privacy policy</a>. We follow the <a href="/code-of-conduct">Berlin Code of Conduct</a>.</p>

  <p class="text-base text-medium">
    © Decent Patterns contributors and Simply Secure. Licensed CC-BY.
  <p />
  </div>

  <div class="flex flex-row flex-wrap">
    <a href="https://github.com/decentpatterns/library" class="btn btn-sm btn-secondary">Github</a>
    <a href="https://tinyletter.com/decentpatterns" class="btn btn-sm">Newsletter</a>
  </div>
</footer>
