<nav id="mobile-nav" class="mobile-nav">
  <ul>
    {% for item in navigation.main %}
      <li class="item relative opacity-0">
        <a href="{{ item.url | safe }}" class="link block py-1 sm:py-2 px-5 text-highlight text-base xs:text-lg hover:text-medium {% if page.url == item.url %}active text-body {% endif %}
      "{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

<button id="mobile-nav-toggle" class="mobile-nav-toggle focus:outline-none" aria-label="Mobile menu toggle" aria-expanded="false" aria-controls="mobile-nav">
  <span class="mobile-nav-label mr-2 font-medium">Menu</span>

  <span class="mobile-nav-icon-bg"></span>
  <span class="mobile-nav-icon" aria-hidden="true">
    <span class="mobile-nav-icon-line bg-white w-6 block transition-all duration-200 ease-out mb-1"></span>
    <span class="mobile-nav-icon-line bg-white w-6 block transition-all duration-200 ease-out mb-1"></span>
    <span class="mobile-nav-icon-line bg-white w-6 block transition-all duration-200 ease-out"></span>
  </span>
</button>
